* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  --white-opaque: hsl(0, 0%, 98%);
  --fw-thin: 200;
  --fw-regular: 400;
  --fw-bold: 600;
}

html,
body {
  height: 100%;
  font-size: 15px;
}

h1 {
  font-size: 1.6rem;
  font-weight: var(--fw-bold);
  color: var(--grey-500);
}

p {
  font-weight: var(--fw-regular);
  color: var(--grey-400);
}

body {
  font-family: "Poppins", sans-serif;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-opaque);
}

.four-card-feature {
  max-width: 375px;
  margin: 1.6rem 1.2rem;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.heading {
  font-weight: var(--fw-thin);
}

.heading-bold{
    font-weight: var(--fw-bold);
}

.four-cards {
  display: grid;
  gap: 2.4rem;
}

.card {
  padding: 2rem;
  box-shadow: 0 0.7em 0.6em hsla(0, 0%, 0%, 0.1);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--white);
}

img {
  width: 100%;
}

.card:nth-child(1) {
  border-top: 0.4rem solid var(--cyan);
}
.card:nth-child(2) {
  border-top: 0.4rem solid var(--red);
}
.card:nth-child(3) {
  border-top: 0.4rem solid var(--orange);
}
.card:nth-child(4) {
  border-top: 0.4rem solid var(--blue);
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: flex-start;
  justify-content: space-between;
}

@media (min-width: 1080px) {
  .four-cards {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-template-areas:
      ". card_2 ."
      "card_1 card_2 card_4"
      "card_1 card_3 card_4"
      ". card_3 .";
  }

  .card:nth-child(1) {
    grid-area: card_1;
  }
  .card:nth-child(2) {
    grid-area: card_2;
  }
  .card:nth-child(3) {
    grid-area: card_3;
  }
  .card:nth-child(4) {
    grid-area: card_4;
  }
}
